body{
    /* background-color: #AACCFF; */
    background-image: url('abstract-watercolor-background_23-2149038179.avif');
    background-repeat: no-repeat;
    background-size: cover;
}



.header{
    color: #FF8000;
    width: 100%;
    height: 60px;
    font-size: 80px;
    padding-top:0px ;
    /* padding-left: 600px; */
    margin-top: 0;
    text-align: center;
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    margin-top: 50px;
      
    
    display: flex;
    justify-content: center;
    align-items: center;

}

.options{
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    gap: 19px;
}
.options .img1{
    border-radius: 50%;
    background-color: #ffffff00;
    border: none;
    width: 250px;
    height: 250px;
    display: inline;
    text-align: center;
    justify-content: center;
    transition: 0.09s ease-in;
}
.img1 img{
    width: 200px;
    height: 200px;
    /* text-align: center; */
    /* margin-top: 5px; */
    
}
.img1:hover{
    border: 5px solid black;
    /* transform: scale(1.1); */
    cursor: pointer;
    opacity: 1;
}
#scissors img{
    margin-top: 20px;
    height: 180px;
}
#paper img{
    margin-top: 10px;
}
.score span{
    margin-left: 90px;
}
.score h4{
    margin-top: 0px;

}
.score{
    color: #242121c7;
    position: absolute;
    left: 510px;
    top: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: 800;
}
.result{
    position: absolute;
    left: 650px;
    top: 640px;
    width: auto;
    height: auto;
    border-radius: 5px;
    background-color: orange;
    color: #000080;
    font:600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-size:larger;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.extraImg img{
    
    height: 360px;
    width: 350px;
    
}
.extraImg {
    position: absolute;
    top: 520px;
    left: 1020px;
    height: 100px;
    width: 150px;

}
.funFact{
    /* border: 2px solid black; */
    position: absolute;
    top: 401px;
    left: 1260px;
    height: 150px;
    width: 200px;
    
    
        background-color: rgba(255, 255, 255, 0.637); /* Off-white background color */
        border-radius: 50%; /* Rounded shape */
        box-shadow: 20px 20px 10px rgba(135, 148, 107, 0.797); /* Soft shadow */
      
      

}
.funFact p{
    margin-left: 18px;
    margin-top: 45px;
    font-size: medium;
}
